.btn {
  @apply font-bold py-2 px-4 rounded-sm focus:outline-none;
}
.btn-primary {
  @apply bg-blue-500 text-white hover:bg-blue-700;
}
.btn-danger {
  @apply bg-red-400 text-white hover:bg-red-600;
}
.btn-danger {
  @apply bg-gray-300 text-white hover:bg-gray-400;
}
